<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodApp_Java"
        tools:targetApi="31">
        <activity
            android:name=".page.activity.FoodSearchActivity"
            android:exported="false" />
        <activity
            android:name=".page.activity.InactiveFoodActivity"
            android:exported="false" />
        <activity
            android:name=".page.activity.CategoryDetailActivity"
            android:exported="false" />
        <activity
            android:name=".page.activity.TransactionDetailActivity"
            android:exported="false" />
        <activity
            android:name=".page.activity.CartActivity"
            android:exported="false" />
        <activity
            android:name=".page.activity.UserFoodDetailActivity"
            android:exported="false" />
        <activity
            android:name=".page.activity.NewsDetailActivity"
            android:exported="false" />
        <activity
            android:name=".page.activity.AddOutgoingStockActivity"
            android:exported="false" />
        <activity
            android:name=".page.activity.OutgoingStockActivity"
            android:exported="false" />
        <activity
            android:name=".page.activity.EditEntryStockActivity"
            android:exported="false" />
        <activity
            android:name=".page.activity.AddEntryStockActivity"
            android:exported="false" />
        <activity
            android:name=".page.activity.EntryStockActivity"
            android:exported="false" />
        <activity
            android:name=".page.activity.UserFragmentActivity"
            android:exported="false" />
        <activity
            android:name=".page.activity.AdminFragmentActivity"
            android:exported="false" />
        <activity
            android:name=".page.activity.StockManagementActivity"
            android:exported="false" />
        <activity
            android:name=".page.activity.DetailSupplierActivity"
            android:exported="false" />
        <activity
            android:name=".page.activity.EditSupplierActivity"
            android:exported="false" />
        <activity
            android:name=".page.activity.AddSupplierActivity"
            android:exported="false" />
        <activity
            android:name=".page.activity.SupplierActivity"
            android:exported="false" />
        <activity
            android:name=".page.activity.EditFoodActivity"
            android:exported="false" />
        <activity
            android:name=".page.activity.AddFoodActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".page.activity.EditCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".page.activity.AddCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".page.activity.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".page.activity.FavoriteActivity"
            android:exported="false" />
        <activity
            android:name=".page.activity.CustomerActivity"
            android:exported="false" />
        <activity
            android:name=".page.activity.CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".page.activity.FoodActivity"
            android:exported="false" />
        <activity
            android:name=".page.activity.FoodDetailActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".adapter.NewsAdapter" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".page.AdminHomeActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".page.activity.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".page.activity.LoginActivity"
            android:exported="true" /> <!-- <activity -->
        <!-- android:name=".page.LoginActivity" -->
        <!-- android:exported="true" -->
        <!-- android:theme="@style/Theme.Material3.Light.NoActionBar"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.App.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>